.photo_product {
  width: 81px;
  height: 81px;
  background: #daf7a6 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.label_photo {
  background-color: #0f62f9 ;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}
.photo_container{
  border: 1px solid #e8e8e8 !important;
}
